.paginate a{
	margin-right: 10px;
}
.paginate{
	float: right;
	margin-bottom: 30px;
}
#myModal .modal-title{
	text-align: center;
}
.result-counts {
	float: right;
    font-size: 14px;
}
.selectpicker {
    width: 40%;
    height: 40px;
    border-radius: 4px;
    padding: 5px;
}
.category-text {
	width: 110px;
    float: left;
    margin-top: 4px;
    font-size: 18px;
}