.pokemons .paginate a{
  margin-right: 10px;
}
.pokemons .search-result{
  margin-top: 15px;
}
.pokemons .paginate{
  float:left;
  margin-bottom: 30px;
}
#myModal .modal-title{
  text-align: center;
}
#myModal .modal-body{
  padding-top: 0;
}
#myModal .modal-header{
  padding-bottom: 0;
}
.pokemons .result-counts {
  float: right;
  font-size: 14px;
}
.pokemons .selectpicker {
  width: 40%;
  height: 40px;
  border-radius: 4px;
  padding: 5px;
}
.pokemons .category-text {
  width: 110px;
  float: left;
  margin-top: 4px;
  font-size: 18px;
  margin-left: 20px;

}
.pokemons .clearbox{
  padding: 0;
}
.about h4{
  text-align: center;
}

/*Responsive style*/
@media screen and (max-width: 980px) {
  .pokemons .selectpicker{
    width:68%;
  }
}
@media screen and (max-width: 767px) {
  .pokemons .selectpicker{
    width: 68%;
  }
  .pokemons .category-text{
    margin-left: 0px;
  }
  .pokemons .paginate {
    float: left;
    margin-bottom: 0;
    margin-top: 20px;
  }
  .pokemons  .bottom-page .paginate{
    margin-top: 10px;
   }
  .pokemons input{
    margin-bottom:15px;
  }
  .pokemons .result-counts {
    float: right;
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 25px;
  }
  .pokemons  .btn{
    padding: 6px 12px;
  }
  .pokemons  .table-scroll{
    margin-top: 18px;
    overflow-x: scroll;
  }
  .search-result{
    margin-top: 10px;
  }
  .pokemons{
    overflow-y: auto;
  }
}
/* End responsive style*/